version: '3.8'

services:
  app:
    container_name: my-crud
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "8081:8081"
    environment:
      - ENV=dev
    volumes:
      - ./data:/app/data
    restart: unless-stopped
